.message{
        position: fixed;
        top: 20px; 
        right: 20px; /* Ajusta según la distancia desde el borde derecho que prefieras */
        z-index: 9999 !important; 
        width: auto;
      
}